<style>
    #order_file_msg{
        display: none;
        color: #a94442;
    }
</style>
{% load widget_tweaks %}
{% if order_screen_master %}
<div class="modal-body details-body">
    <form method="POST" role="form" enctype="multipart/form-data" action="/pws_portal/modify_and_place_order/0/" class="form-horizontal ng-pristine ng-valid" id="frmPlaceOrder">{% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-4 required " for="order_number">Order number</label>
                    <div class="col-sm-8">
                        <input id="order_number" class="form-control required" name="order_number" value='{{order.order_number}}' type="text" required>
                    </div>
                </div>
                {% for order in order_screen_master %}
                    <div class="form-group">
                        {% if order.order_screen_parameter__code == 'chk_IsImpedence' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="is_defined_impedance" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="is_defined_impedance" class="{% if order.is_compulsory == True %} required {% endif %}" {% if order.default_value == "Yes" %}checked="checked" {% endif%} name="chk_defined_impedance" type="checkbox">
                            </div>
                        {% elif order.order_screen_parameter__code == 'chk_ul_marking' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="ul_marking" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="ul_marking" class="{% if order.is_compulsory == True %} required {% endif %}" {% if order.default_value == "Yes" %}checked="checked" {% endif%} name="is_chk_ul_marking" type="checkbox">
                            </div>
                        {% elif order.order_screen_parameter__code == 'chk_specific_marking' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="is_chk_specific_marking" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="is_chk_specific_marking" class="{% if order.is_compulsory == True %} required {% endif %}" {% if order.default_value == "Yes" %}checked="checked" {% endif%} name="is_chk_specific_marking" type="checkbox">
                            </div>
                        {% elif order.order_screen_parameter__code == 'chk_pth_on_the_board_edge' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="is_chk_pth_on_the_board_edge" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="is_chk_pth_on_the_board_edge" class="{% if order.is_compulsory == True %} required {% endif %}" {% if order.default_value == "Yes" %}checked="checked" {% endif%} name="is_chk_pth_on_the_board_edge" type="checkbox">
                            </div>
                        {% elif order.order_screen_parameter__code == 'chk_round_edge_plating' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="is_chk_round_edge_plating" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="is_chk_round_edge_plating" class="{% if order.is_compulsory == True %} required {% endif %}" {% if order.default_value == "Yes" %}checked="checked" {% endif%} name="is_chk_round_edge_plating" type="checkbox">
                            </div>
                        {% elif order.order_screen_parameter__code == 'chk_copper_upto_board_edge' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="is_chk_copper_upto_board_edge" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="is_chk_copper_upto_board_edge" class="{% if order.is_compulsory == True %} required {% endif %}" {% if order.default_value == "Yes" %}checked="checked" {% endif%} name="is_chk_copper_upto_board_edge" type="checkbox">
                            </div>
                        {% elif order.order_screen_parameter__code == 'chk_press-fit_holes' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="press_fit_holes" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="press_fit_holes" class="{% if order.is_compulsory == True %} required {% endif %}" {% if order.default_value == "Yes" %}checked="checked" {% endif %} name="is_chk_press_fit_holes" type="checkbox">
                            </div>
                        {% elif order.order_screen_parameter__code == 'chk_chamfered_holes' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="is_chk_chamfered_holes" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="is_chk_chamfered_holes" class="{% if order.is_compulsory == True %} required {% endif %}" {% if order.default_value == "Yes" %}checked="checked" {% endif%} name="is_chk_chamfered_holes" type="checkbox">
                            </div>
                        {% elif order.order_screen_parameter__code == 'chk_depth_routing' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="is_chk_depth_routing" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="is_chk_depth_routing" class="{% if order.is_compulsory == True %} required {% endif %}" {% if order.default_value == "Yes" %}checked="checked" {% endif%} name="is_chk_depth_routing" type="checkbox">
                            </div>
                        {% elif order.order_screen_parameter__code == 'chk_is_nda' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="chk_nda" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="chk_nda" class="{% if order.is_compulsory == True %} required {% endif %}" {% if order.default_value == "Yes" %}checked="checked" {% endif%} name="chk_nda" type="checkbox">
                            </div>
                        {% elif order.order_screen_parameter__code == 'chk_IsQta' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="chk_qta" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="chk_qta" class="{% if order.is_compulsory == True %} required {% endif %}" {% if order.default_value == "Yes" %}checked="checked" {% endif%} name="chk_qta" type="checkbox">
                            </div>
                        {% elif order.order_screen_parameter__code == 'txt_ExtraCoupon' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="extra_coupon" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="extra_coupon" class="form-control {% if order.is_compulsory == True %} required {% endif %}" name="txt_extra_coupon" value='{% if order.default_value %}{{order.default_value}}{% endif %}' type="text" maxlength="100">
                            </div>
                        {% elif order.order_screen_parameter__code == 'txt_Toolnr' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="tool_nr" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="tool_nr" class="form-control {% if order.is_compulsory == True %} required {% endif %}" name="txt_tool_nr" value='{% if order.default_value %}{{order.default_value}}{% endif %}' type="text" maxlength="100">
                            </div>
                        {% elif order.order_screen_parameter__code == 'txt_pcb_name' %}
                            <label class="control-label col-sm-4  {% if order.is_compulsory == True %} required {% endif %}" for="pcb_name">PCB Name</label>
                            <div class="col-sm-8">
                                <input id="pcb_name" class="form-control {% if order.is_compulsory == True %} required {% endif %}" name="pcb_name" value='{% if order.default_value %}{{order.default_value}}{% endif %}' type="text" maxlength="250">
                            </div>
                        {% elif order.order_screen_parameter__code == 'txt_ToolSpec' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="tool_spec" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="tool_spec" class="form-control {% if order.is_compulsory == True %} required {% endif %}" name="txt_tool_spec" value='{% if order.default_value %}{{order.default_value}}{% endif %}' type="text" maxlength="100">
                            </div>
                        {% elif order.order_screen_parameter__code == 'txt_LogSpec' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="logistics_spec" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <input id="logistics_spec" class="form-control {% if order.is_compulsory == True %} required {% endif %}" name="txt_logistics_spec" value='{% if order.default_value %}{{order.default_value}}{% endif %}' type="text" maxlength="100">
                            </div>
                        {% elif order.order_screen_parameter__code == 'txt_cam_remark' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="cam_remark" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <textarea id="cam_remark" class="form-control {% if order.is_compulsory == True %} required {% endif %}" name="txt_cam_remark" maxlength="100">{% if order.default_value %}{{order.default_value}}{% endif %}</textarea>
                            </div>
                        {% elif order.order_screen_parameter__code == 'txt_remarks' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="txt_remarks" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <textarea id="txt_remarks" class="form-control {% if order.is_compulsory == True %} required {% endif %}" name="txt_remarks">{% if order.default_value %}{{order.default_value}}{% endif %}</textarea>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_service' %}
                            <label class="control-label col-sm-4  required " for="id_service_type" {% if order.is_compulsory == True %} required {% endif %}>Service type</label>
                            <div class="col-sm-8">
                                <select class="form-control  required " id="id_service_type" name="service_type">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for service in service_data %}
                                    <option value="{{service.code}}" {% if order.default_value == service.code %} selected {% endif %}>{{service.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_prod_panelSize' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="prod_panel_size" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="prod_panel_size" name="cmb_prod_panel_size">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for res in response %}
                                    {% if order.order_screen_parameter_id == res.parent_id %}
                                    <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_engineer2' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="engineer_2" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="engineer_2" name="cmb_engineer_2">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for res in response %}
                                    {% if order.order_screen_parameter_id == res.parent_id %}
                                    <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_engineer1' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="engineer_1" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="engineer_1" name="cmb_engineer_1">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for res in response %}
                                    {% if order.order_screen_parameter_id == res.parent_id %}
                                    <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_VentingPattern' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="venting_pattern" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="venting_pattern" name="cmb_venting_pattern">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for res in response %}
                                    {% if order.order_screen_parameter_id == res.parent_id %}
                                    <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_FAI' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="fai" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="fai" name="cmb_fai">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for res in response %}
                                    {% if order.order_screen_parameter_id == res.parent_id %}
                                    <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_Uviafilling' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="u_via_filling" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="u_via_filling" name="cmb_u_via_filling">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for res in response %}
                                    {% if order.order_screen_parameter_id == res.parent_id %}
                                    <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_HolePlugging' %}
                        <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="hole_plugging" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                        <div class="col-sm-8">
                            <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="hole_plugging" name="cmb_hole_plugging">
                                <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                {% for res in response %}
                                {% if order.order_screen_parameter_id == res.parent_id %}
                                <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        {% elif order.order_screen_parameter__code == 'cmb_RemovalNFPAllowed' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="removal_nfp_allowed" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="removal_nfp_allowed" name="cmb_removal_nfp_allowed">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for res in response %}
                                    {% if order.order_screen_parameter_id == res.parent_id %}
                                    <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_DueTime' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="due_time" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="due_time" name="cmb_due_time">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for res in response %}
                                    {% if order.order_screen_parameter_id == res.parent_id %}
                                    <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_bottom_heatsink_paste' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="bottom_heat_sink_paste" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="bottom_heat_sink_paste" name="cmb_bottom_heat_sink_paste">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for res in response %}
                                    {% if order.order_screen_parameter_id == res.parent_id %}
                                    <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_top_heatsink_paste' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="top_heat_sink_paste" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="top_heat_sink_paste" name="cmb_top_heat_sink_paste">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for res in response %}
                                    {% if order.order_screen_parameter_id == res.parent_id %}
                                    <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_top_soldermask' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="top_solder_mask" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="top_solder_mask" name="cmb_top_solder_mask">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for res in response %}
                                    {% if order.order_screen_parameter_id == res.parent_id %}
                                    <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif order.order_screen_parameter__code == 'cmb_bottom_soldermask' %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="bottom_solder_mask" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            <div class="col-sm-8">
                                <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="bottom_solder_mask" name="cmb_bottom_solder_mask">
                                    <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                    {% for res in response %}
                                    {% if order.order_screen_parameter_id == res.parent_id %}
                                    <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% else %}
                            {% if order.order_screen_parameter__parent_id == None %}
                            <label class="control-label col-sm-4 {% if order.is_compulsory == True %} required {% endif %}" for="{{order.order_screen_parameter__code}}" {% if order.is_compulsory == True %} required {% endif %}>{{order.order_screen_parameter__name}}</label>
                            {% endif %}
                            <div class="col-sm-8">
                                {% if "cmb" in order.order_screen_parameter__code %}
                                    <select class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="{{order.order_screen_parameter__code}}" name="{{order.order_screen_parameter__code}}">
                                        <option value="" {% if order.default_value == "None" %} selected {% endif %}>Select</option>
                                        {% for res in response %}
                                        {% if order.order_screen_parameter_id == res.parent_id %}
                                        <option value="{{res.code}}" {% if order.default_value == res.code %} selected {% endif %}>{{res.name}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                {% elif "chk" in order.order_screen_parameter__code %}
                                    <input id="{{order.order_screen_parameter__code}}" class="{% if order.is_compulsory == True %} required {% endif %}" {% if order.default_value == "Yes" %}checked="checked"{% endif%} name="{{order.order_screen_parameter__code}}" type="checkbox">
                                {% elif "txt" in order.order_screen_parameter__code %}
                                    <input id="{{order.order_screen_parameter__code}}" class="form-control {% if order.is_compulsory == True %} required {% endif %}" name="{{order.order_screen_parameter__code}}" value='{% if order.default_value %}{{order.default_value}}{% endif %}' type="text"  maxlength="100">
                                {% elif "dtp" in order.order_screen_parameter__code %}
                                    <input type="text" class="form-control {% if order.is_compulsory == True %} required {% endif %}" id="datepicker" name="{{order.order_screen_parameter__code}}" value="{{order.default_value}}"/>
                                {% elif "order_file" in order.order_screen_parameter__code %}
                                    <input id="{{order.order_screen_parameter__code}}" class="form-control {% if order.is_compulsory == True %} required {% endif %}" name="{{order.order_screen_parameter__code}}" value='{{order.default_value}}' type="file" data-rule-extension="zip|kicad|brd|rar|OBD"
                                    data-msg-extension="Only zip, kicad, brd, rar and OBD++ extension is allowed.">
                                    <span id="order_file_msg">Only zip, kicad, brd, rar and OBD++ extension is allowed.</span>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
</div>
<div>
    <button class="btn btn-primary" style="margin-bottom: 40px;" ng-click="OrderPlace($event);" >Place order</button>
    <button class="btn" style="margin-bottom: 40px;" ng-click="goBack()" >Close</button>
</div>
<script>
    $('[name="order_number"]').focus();
    $("#datepicker").datepicker({
    format: "dd-mm-yyyy",
    startView: "day",
    minViewMode: "day"
    });
</script>
{% else %}
<div class="modal-body details-body" style="margin-left: 400px;">
    <h5>You do not have permission to perform any action</h5>
</div>
{% endif %}