
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Sparrow</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/font-awesome.min.css' %}" />
    </head>
    <body>

 <div class="container" style="width: 100% !important;">

      <div style="text-align: center;">
        <h1 style="font-size: 1300%;">401 Unauthorized</h1>
        <div class="lead">Authorization Required.</div>
      </div>

    </div>
    </body>
</html>
