{% load widget_tweaks %}
<div class="lst-container">
    <div>
        <nit-advanced-searchbox
                ng-model="searchParams1"
                parameters="availableSearchParams1"
                index = "1"
                placeholder="Search...">
        </nit-advanced-searchbox>
    </div>
    <div id="gridCon">
        <table datatable dt-options="dtOptions1" dt-columns="dtColumns1" dt-instance="dtInstance1" class="row-border hover"></table>
    </div>
</div>

<script type="text/ng-template" id="top_action_bar">
  <div class="focus-inner button-bar">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <i class="icon-hamburger-menu-1" aria-hidden="true"></i>
        </button> 
        <ul class="dropdown-menu dropdown-menu-org dropdown-menu-right">
            {% if type != 'All' and type != 'Others' %}
                <li>
                    <input type="button" class="btn btn-primary btn-sm" id="btnDeleteAllExceptionLogs" value="Delete all of same type exception" ></input>
                </li>
            {% endif %}
            <li>
                <input type="button" class="btn btn-primary btn-sm" value="Delete" ng-click="onDelete($event);" ng-disabled="btnModelDeleteDisable"></input>
            </li>
        </ul>
    </div>
 </div>
</script>