<style type="text/css">
	.app-seach #col_order {
		display: none;
	}
	.app-seach .sorting_asc {
		display: none;
	}
	.app-seach .dataTable thead th {
		border-bottom: none;
	}
	.sr-blk {
		color:#545454;
	}
	.sr-d1 {
		font-size: 15px;
	}
	.sr-d1 .sr-dt {
		font-size: 13px;
		color:#545454;
	}
	.sr-d1  div{
		float: left;
	}
	.sr-d2 {
		clear:both;
		padding-top:8px;
		font-size:13px;
	}	
	.sr-d3 {
		padding-top:4px
	}
	.s-l1, .s-l2, .s-l3 {
		margin-left: 5px
	}
	.s-sts{
		color: #337AB7;
	}
</style>
<div class="lst-container">
    <!-- <table datatable dt-options="dtOptions98" dt-columns="dtColumns98" dt-instance="dtInstance98" index="98" class="row-border hover"></table> -->
      <div id="gridCon" class="app-seach">        
        <table datatable dt-options="dtOptions98" dt-columns="dtColumns98" dt-instance="dtInstance98" class="row-border hover"></table>
    </div>
</div>    