<style>
    #iframe_model0 .modal-header, #iframe_model0  .modal-body{
        padding:3px 10px 0 10px;
    }
    #iframe_model0 .modal-body{
        padding:3px;
    }
    .dataTables_paginate {
        display:none !important;
    }
</style>
<div class="lst-container">
    <div style="margin-top: 10px;">
        <form autocomplete="off" style="width: 60%;float: right;margin-top: 15px;">
            <div>
            <nit-advanced-searchbox
                    ng-model="searchParams1"
                    parameters="availableSearchParams1"
                    index = "1"
                    placeholder="Search...">
            </nit-advanced-searchbox>
            </div>
        </form>
    </div>
    <div id="gridCon">
        <table datatable dt-options="dtOptions1" dt-columns="dtColumns1" dt-instance="dtInstance1"
               class="row-border hover"></table>
    </div>
</div>

<script type="text/ng-template" id="top_action_bar">
  <div class="focus-inner button-bar" style="float:right;margin-top: 10px;">
    <input type="button" class="btn btn-primary btn-sm" value="Customer login" ng-click="onbtnCustomerLogin($event);" id="btnCustomerLogin" ng-disabled="btnCustomerLoginDisable"></input>
    <input type="button" class="btn btn-primary btn-sm" value="Edit Profile" ng-click="onbtnEditProfile($event);" id="btnEditProfile" ng-disabled="btnEditProfileDisable"></input>
    <input type="button" class="btn btn-primary btn-sm" value="PCB Visualizer" ng-click="onbtnPCBVis($event);" id="btnPCBVis" ng-disabled="btnPCBVisDisable"></input>
    <input type="button" class="btn btn-primary btn-sm" value="PCBA Visualizer" ng-click="onbtnPCBAVis($event);" id="btnPCBAVis" ng-disabled="btnPCBAVisDisable"></input>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <i class="icon-hamburger-menu-1" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-org dropdown-menu-right">
            <li>
                <input type="button" class="btn btn-primary btn-sm" value="Order receipt" ng-click="onbtnOrderReceipt($event);" id="btnOrderReceipt" ng-disabled="btnModelEditDisable"></input>
            </li>
            <li>
                <input type="button" class="btn btn-primary btn-sm" value="Proforma invoice" id ="btnProformInvoice" ng-disabled="btnProformInvoiceDisable"></input>
            </li>
            <li>
                <input type="button" class="btn btn-primary btn-sm" value="Exception" ng-click="onbtnException($event);" ng-disabled="btnModelDeleteDisable"></input>
            </li>
            <li>
                <input type="button" class="btn btn-primary btn-sm" value="Order confirmation" ng-click="onbtnOrderConf($event);" id="btnOrderConf" ng-disabled="btnModelDeleteDisable"></input>
            </li>
            <li>
                <input type="button" class="btn btn-primary btn-sm" value="PCB image" ng-click="onbtnPCBImg($event);" id="btnPCBImg" ng-disabled="btnModelDeleteDisable"></input>
            </li>
            <li>
                <input type="button" class="btn btn-primary btn-sm" value="Layer image" ng-click="onbtnLayerImg($event);" id="btnLayerImg" ng-disabled="btnModelDeleteDisable"></input>
            </li>
            <li>
                <input type="button" class="btn btn-primary btn-sm" value="Delivery note" ng-click="onbtnDeliveryNote($event);" id="btnDeliveryNote" ng-disabled="btnModelDeleteDisable"></input>
            </li>
            <li>
                <input type="button" class="btn btn-primary btn-sm" value="Customer invoice" ng-click="onCustInvoice($event);" id= "CustInvoice" ng-disabled="CustInvoiceDisable"></input>
            </li>
            <!-- <li>
                <input type="button" class="btn btn-primary btn-sm" id="btnExport" value="Export"></input>
            </li> -->
        </ul>    </div>
  </div>
</script>
<script type="text/javascript">
    ordersInit({ 'permissions': {{ permissions| safe}} });

</script>

