<div align="center" class="header">The Company</div>
<div class="form-group" align="center">
	<label class="imgThumbnail form-control" id="companyShowImage" for="companyImage"></label>
	<input type="file" name="companyImage" id="companyImage" accept="image/*">
</div>
<div class="form-group">
	<div style="color: grey">Company Name</div>
	<input type="text" class="form-control" name="companyName" ng-model="setupInfo.companyName" required>
</div>
<div class="form-group">
	<div style="color: grey">Database Schema</div>
	<input type="text" class="form-control" name="dbschema" ng-model="setupInfo.dbschema" required>
</div>
<div class="form-group">
	<div style="color: grey">Domain</div>
	<input type="text" class="form-control" name="domain" ng-model="setupInfo.domain" required>
</div>