{% load widget_tweaks %}

<div class="lst-container">
    <div class="form-group col-sm-2">
        <h5 style="margin-bottom: 0;">MPN</h5>
        <div style="margin-top: 5px;">
            <input class="form-control" name="product" id="id_product" type="text" style="height: auto;">
        </div>
    </div>
    <div id="row-theme" class="form-group col-sm-2" style="margin-top: 30px;">
        <button type="button" class="btn btn-primary btn-sm" id="load_btn">Load</button>
        <button type="button" class="btn btn-primary btn-sm" id="btnExport" ng-click="onExport($event);"
            style="display: none;">Export</button>
    </div>
        <div id="gridCon">
            <table datatable dt-options="dtOptions1" dt-columns="dtColumns1" dt-instance="dtInstance1" index="1"
                class="row-border hover"></table>
        </div>
</div>
<script type="text/ng-template" id="top_action_bar">
    <div class="focus-inner button-bar">
	<button style="float:right;" id="btnExport" type="button" class="btn btn-default"><span
            class="glyphicon glyphicon-export" aria-hidden="true"></span> Export</button>
	</div>

</script>

<script type="text/javascript">
    var data = {
        'company_code': '{{company_code}}',
    }
    var mfgOrdersJS = gcecstockInit(data);

</script>