<style>
    .btn-primary{
        display: none !important;
    }
    .btn-default {
       display: none !important;
    }
    .title_left{
        display: none !important;
    }
    .logo_image{
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .logo_div{
        display: flex;
        justify-content: center;
         margin-top: 20%;
        align-items: center;
    }
    .index_title{
        margin-top: 10px;
        margin-left: 5px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="logo_div" style="">
    <img id="myImg" class="logo_image" src="/static/base/images/pp_logo_bl.png?v=3" alt=""/>
</div>
<span class="index_title">
    <img  src="/static/base/images/waving-hand.svg" alt="" style=" margin-bottom: 10px; margin-right: 5px; "/>
    <h1 style="font-weight: bold;">Welcome!</h1>
</span>
<h2  class="index_title">
    qualityapp 2.0 from PCB Planet.</h2>
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

