
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Sparrow</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/font-awesome.min.css' %}" />
    </head>
    <body>

 <div class="container">

      <div style="text-align: center;">
        <h1 style="font-size: 1500%;">404!</h1>
        <div class="lead">Sorry! The page you're looking for cannot be found.</div>
        <div><a style="padding:6px;border-radius:3px;background:#2A3F54;color:white;" href="/"><span style="margin-right:7px;" class="icon-home"></span>Home</a></div>
      </div>

    </div>
    </body>
</html>
